/**
 *  Copyright Steven Allen (2015)
 *
 *  This file is part of gazetta-bootstrap.
 *
 *  gazetta-bootstrap is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License (version 2) as
 *  published by the Free Software Foundation.
 *
 *  gazetta-bin is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 */

#page-index > * {
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding: 10px;
  background: #fefefe;
  position: relative;
}
#page-index .title {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  font-weight: 300;
}
#page-index .title h1 {
  font-size: 24px;
  flex: 1;
}
#page-index .title time {
  font-size: 16px;
  padding-left: 5px;
  line-height: 28px;
}

#page-index h2 {
  font-size: 18px;
  line-height: 28px;
}
#page-index h3 {
  font-size: 16px;
  line-height: 26px;
}
#page-index h4 {
  font-size: 14px;
  line-height: 24px;
}

